---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/brands",
  "font-awesome/regular",
  "font-awesome/solid",
  "font-awesome/fontawesome",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;

/* Charter */
@font-face {
  font-family: 'Charter';
  font-style: normal;
  font-weight: 400;
  src: url('{{ "/assets/fonts/fonts/Charter/charter_regular.woff2" | relative_url }}') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Charter';
  font-style: italic;
  font-weight: 400;
  src: url('{{ "/assets/fonts/fonts/Charter/charter_italic.woff2" | relative_url }}') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Charter';
  font-style: normal;
  font-weight: 700;
  src: url('{{ "/assets/fonts/fonts/Charter/charter_bold.woff2" | relative_url }}') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Charter';
  font-style: italic;
  font-weight: 700;
  src: url('{{ "/assets/fonts/fonts/Charter/charter_bold_italic.woff2" | relative_url }}') format('woff2');
  font-display: swap;
}

/* Use it site-wide */
body { font-family:'Charter', Georgia, 'Times New Roman', serif; font-weight:400; }
  strong, b { font-weight:700; }

/* About page only */
body.page-about .container { max-width: 960px; }

/* Size and spacing */
.social .contact-icons a { margin-right: 8px; margin-bottom: 8px;}
// .social .contact-icons i { font-size: 1.1rem; line-height: 1; }

/* Center icons on the about page block */
.social .contact-icons { display: flex; gap: 10px; align-items: center; flex-wrap: wrap; }
